node_modules/
.expo/
dist/
web-build/
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
.env
.env.local
.env.*.local
*.tsbuildinfo
logs
*.log
.vscode/
.idea/

# Backup files from sed -i.bak
*.bak
